.container {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    width: 50%;
    height: 50%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: lightyellow;
}

.timer,
.question,
.results,
.gif-screen,
.start-button,
.restart-button {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.winGif,
.loseGif,
.endGif {
    width: 400px;
    height: 300px;
}

.wallpaper {
    background-image: url("../images/1.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.timer {
    /* display: block; */
    color: yellow;
}

.scoreboard {
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive, sans-serif;
    background-color: rgb(26, 24, 24);
    width: 30%;
    margin-left: 35%;
    /* padding: 10px; */
}

p {
    width: 100%;
    font-size: 20px;
}

@media screen and (max-width: 1152px) {
    .wallpaper {
        background-size: 100% 100%;
        min-width: 100%;
        min-height: 600px;
    }
}